/* Overlay covers entire screen */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal box */
.modal {
  background: var(--color-bg);
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  max-width: 450px;
  width: 380px;
  text-align: center;

  button {
    background: var(--color-secondary);
    margin-top: 18px;
    padding: 6px 24px;
    border: 2px solid var(--orange-300);
    border-radius: 8px;
    transition: transform 0.2s ease;

    &:hover {
      background: var(--color-secondary-hover);
      transform: scale(1.05);
    }
    &:active {
      background: var(--color-secondary-active);
    }
  }
}

.hidden {
  display: none;
}
