@import "./color-scheme.css";
@import "./reset.css";
@import "./overlay.css";

html,
body {
  height: 100dvh;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 2.6rem;
}
body {
  display: flex;
  flex-direction: column;
}
header,
footer {
  background-color: var(--color-surface);
}
header {
  font-family: "Alfa Slab One", serif;
  font-size: 2.8rem;
  color: var(--color-secondary);
  text-align: center;
  padding: 20px 10px;

  h1 {
    line-height: 1.8;
  }
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 48px;

  & .scoreboard {
    text-align: center;
  }
  & .scores {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    & .sign {
      font-size: clamp(5rem, 9vw, 7.8rem);
    }
  }

  & .controls {
    display: flex;
    gap: 16px;

    button {
      background: var(--color-primary);
      color: var(--color-text);
      font-size: 7.8rem;
      padding: 32px;
      border: 2px solid var(--teal-700-dark);
      border-radius: 10px;
      transition: transform 0.2s ease;

      &:hover {
        background: var(--color-primary-hover);
        transform: scale(1.05);
      }
      &:active {
        background: var(--color-primary-active);
      }

      /* make buttons smaller on phone screens */
      @media screen and (max-width: 600px) {
        font-size: 5rem;
        padding: 16px;
      }
    }
  }
}

footer {
  font-size: 1.8rem;
  text-align: center;
  padding: 20px;

  & svg {
    display: inline-block;
    margin-left: 5px;
    vertical-align: text-bottom;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
}
