*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-light: #eee;
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --secondary-dark-hover: #4a4f57;
  --secondary-dark-active: #5b5f68;
  --header: #111720;
  --primary-yellow: #fac650;
}
html,
body {
  height: 100vh;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
header,
footer {
  background-color: var(--header);
  flex: 0 0 100px;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.scores {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}
button {
  font-size: 48px;
  padding: 24px;
  border-radius: 10px;
}
